.addForm,
.addForm__background {
  box-sizing: border-box;
  border-top-right-radius: 30px;
}
.addForm__prizeCounter {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.arrorIcon {
  color: var(--button-background);
  width: 24px;
  height: 24px;
}
.calendIcon,
.calculateIcon {
  color: var(--text);
  width: 20px;
  height: 20px;
}

.addForm {
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__inputs {
    stroke-width: 2px;
    stroke: var(--background);
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  &__descr {
    background-color: var(--background2);
    padding: 17px 0 17px 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    font-size: 12px;
    letter-spacing: 0.02em;
    border: 2px var(--background) solid;
    color: var(--text);
    border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    outline: none;
    &::placeholder {
      color: var(--descr-color);
    }
  }
  &__selectGoods {
    background-color: var(--background2);
    padding: 17px 0 17px 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

    font-size: 12px;
    border: 2px var(--background) solid;
    border-bottom-right-radius: 20px;
    letter-spacing: 0.02em;
    color: var(--descr-color);
    min-width: 282px;
    outline: none;

    &:invalid {
      color: var(--descr-color);
    }

    &:valid {
      color: var(--text);
    }

    option {
      color: var(--descr-color);
      background-color: var(--background2);

      &:checked {
        color: var(--text);
        background-color: #c6c6c6;
      }
    }
  }
  &__btn1 {
    border-radius: 16px;
    width: 125px;
    height: 44px;
    background: var(--button-background);
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--background);
    border: none;
  }
  &__btn2 {
    width: 125px;
    height: 44px;
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text);
    box-shadow: 1px 2px 5px 0 var(--box-shadow);
    background: var(--background2);
    border-radius: 16px;
    border: none;
  }
  &__btns {
    display: flex;
    gap: 15px;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__prize {
    width: 183px;
    height: 44px;
    border: 2px var(--background) solid;
    background-color: var(--background2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__prizeCounter {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--background2);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: right;
    color: var(--text);
  }
  &__background {
    width: 100%;
    background: var(--background2);
    border-bottom-left-radius: 100px;
    padding: 15px 19px 43px;
    display: flex;
    justify-content: center;
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__separate {
    width: 2px;
    height: 40px;
    background: var(--background);
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .addForm {
    &__datawForm {
      display: flex;
      align-items: center;
    }
    &__btns {
      margin-top: 0;
    }
    &__prizeCounter {
      margin: 0;
      padding: 0;
      width: 60px;
      text-align: center;
      background-color: var(--background);
    }
    &__top {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__prize {
      background-color: var(--background);
      border: 2px var(--background2) solid;
      width: 104px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
      margin-bottom: 15px;
      height: 53px;
    }
    &__form {
      display: flex;
      flex-direction: row;
      margin-left: 43px;
    }
    &__selectGoods {
      box-sizing: border-box;
      min-width: 0;
      width: 170px;
      background-color: var(--background);
      border: 2px var(--background2) solid;
      border-radius: 0;
      border-left: none;
    }
    &__descr {
      box-sizing: border-box;
      width: 192px;
      background-color: var(--background);
      border: 2px var(--background2) solid;
      border-top-right-radius: 0;
    }
    &__background {
      flex-direction: row;
      background-color: var(--background);
      padding: 28px 30px 30px 31px;
    }
    &__data {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 17px;
    }
    &__inputs {
      flex-direction: row;
    }
    &__paragraf {
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--text);
    }
  }

  .addForm .container {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .addForm {
    flex-direction: row;
    &__descr {
      width: 288px;
    }
    &__selectGoods {
      width: 188px;
    }
    &__prize {
      width: 125px;
    }
    &__form {
      margin-left: 35px;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    &__btns {
      margin-bottom: 15px;
      margin-left: 35px;
    }
    &__paragraf {
      margin-bottom: -4px;
    }
    &__data {
      margin-bottom: 16px;
    }
  }
}
