#myPlot {
    width: 100%;
    max-width: 950px;
    height: 400px;
    margin: 0 auto;
    touch-action: none;
    // outline: solid red;
}

.container {
  border: 2px solid #F5F6FB;
  border-radius: 20px;

}