$primary-color: #FF751D;
$primary-hover: #e57c14;

$secondary-color: #757575;
$text-color: #222;
$border-color: #dcdcdc;
$background-color: #f8f9fb;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: $background-color;
}

.auth-page {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0 0 45% 0;
    background: #f1f3f5;
    z-index: -1;
    border-radius: 0 0 0 150px;
    margin-bottom: -50px;
  }

  &__left {
    width: 60%;
    height: 100%;
    position: relative;
  }

  &__right {
    width: 40%;
    height: 100%;
    position: relative;
  }

    &__logo-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        object-fit: cover;
        z-index: -1;
        pointer-events: none;
    }

  &__title-container {
    position: absolute;
    top: 44%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    font-size: 88px;
    font-weight: 700;
    color: $text-color;
    line-height: 1;
  }

  &__subtitle {
    margin-top: 12px;
    font-size: 18px;
    letter-spacing: 6px;
    color: $secondary-color;
  }

  &__logo-bottom {
    position: absolute;

    bottom: 60px;
    left: 50%;

    transform: translateX(-50%);

    width: 220px;
  }
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 470px;

  background: $white;

  border-radius: 28px;

  padding: 50px 86px ;

  box-shadow: 0 15px 45px rgba(0, 0, 0, .08);

  &__social-text {
    color: $secondary-color;
    margin-bottom: 18px;
    line-height: 1.5;
    font-size: 15px;
    font-family: roboto regular;
  }

  &__social-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

&__social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 125px;
    height: 44px;
    border: none;
    border-radius: 50px;
    background: #F6F7FB;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;

    svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        display: block;
    }

    &:hover {
      background: #f7f7f7;
    }
  }

  &__divider {
    gap: 14px;

    margin: 25px 0;

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: $border-color;
    }

    p {
      font-size: 13px;
      color: $secondary-color;
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    margin-top: 18px;
    font-weight: 200;
    width: 100%;
    font-family: roboto regular;
  }

&__input {
    width: 100%;
    height: 52px;

    padding: 0 16px;

    background: #F6F7FB;

    border: none;

    border-radius: 50px;

    outline: none;

    font-size: 15px;

    color: #222;

    transition: .2s;

    &::placeholder {
        color: #9CA3AF;
    }

    &:focus {
        background: #eef1f6;
        box-shadow: 0 0 0 2px rgba(242, 140, 40, 0.2);
    }
  }

  &__submit {
    width: 125px;
    height: 44px;
    margin-top: 18px;
    border: none;
    border-radius: 12px;
    background: $primary-color;
    color: white;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: $primary-hover;
    }
  }

  &__container-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__register {
    width: 125px;
    height: 44px;

    margin-top: 12px;

    border: none;
    border-radius: 12px;

    background: #ececec;

    cursor: pointer;

    font-weight: 600;

    &:hover {
      background: #dddddd;
    }
  }
}