.header {
  font-family: "Roboto";
  background: var(--background);
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  
  &__logo {
    width: 99px;
    height: 33px;
  }

  &__profile-picture {
    width: 32px;
    height: 32px;
    background-color: var(--background);
    border-radius: 50%;
  }
  &__profile-name {
    display: none;
    visibility: hidden;
  }
  &__log-out {
    display: none;
    visibility: hidden;
  }

  &__exit{
    display: block;
    visibility: visible;
  }

  &__profile-part {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      padding-right: 20px;
      margin-left: 20px;
    }

    &__user-inetrface {
      display: flex;
      align-items: center;
    }


  @media screen and (min-width: 768px) {
    &__user-inetrface {
      width: 222px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__profile-part {
        gap: 10px;
      border-right: 2px solid #e0e5eb;
      margin-left: 20px;
    }

    &__profile-name {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-align: right;
      color: var(--text);
      display: block;
      visibility: visible;
    }

    &__log-out {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--text);
      margin-left: 20px;
      display: block;
      visibility: visible;
      cursor: pointer;
    }

    &__exit{
        display: none;
        visibility: hidden;
    }
  }
}

