.liquid-toast-wrapper{
  padding:0!important;
  background:transparent!important;
  box-shadow:none!important;
  overflow:visible!important;
}

.liquid-toast-wrapper .Toastify__toast-body{
  margin:0;
  padding:0;
}

.liquid-toast__text{
  color:#1d1d1f;
  font-family:-apple-system,BlinkMacSystemFont,"SF Pro Display","Inter",sans-serif;
  font-size:14px;
  font-weight:500;
  white-space:nowrap;
}

[data-theme="dark"]{
  .liquid-toast__text{
    color:#fff;
  }
}