.home-page-bg {



@media screen and (min-width: 1200px) {
          position: relative;
  z-index: 0;
  background-image: url("../../assets/pins_desktop.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100vw auto;
}
}

.home-page {
  position: relative;
  z-index: 1;
}